// GDP-PRC-Project
// Author: yingwei1025@gmail.com

$green-color: #00c853;
$red-color: #ff5252;

.spacer {
  flex: 1 1 auto;
}

.top-nav-bar {
  position: fixed;
  z-index: 100;
}

.title-text {
  font-size: calc(0.5em + 0.5vw);
}

mat-error {
  font-size: 9px;
}

mat-hint {
  font-size: 9px;
}

.result-text {
  font-size: large;
  margin-bottom: 5px;
  font-weight: 500;
}

.result-text::before {
  content: ' \00a0';
}

.pass {
  color: $green-color;
}

.fail {
  color: $red-color;
}

.point-text {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
.pass-point {
  background-color: $green-color;
}

.fail-point {
  background-color: $red-color;
}

.data-result-text {
  color: rgba(0, 0, 0, 0.54);
}

// table
.example-container {
  height: 100%;
  max-height: 600px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-row:hover {
  background-color: #e5e7e9;
}

@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName, $props in $columns {
      $width: map-get($props, 'width');

      &#{$colName} {
        flex: $width;
        min-width: $width;
        padding-left: 5px;
        padding-right: 5px;

        @if map-has-key($props, 'color') {
          color: map-get($props, 'color');
        }
      }
    }
  }
}

@include mat-table-columns(
  (
    stock: (
      width: 6rem
    ),
    gpd: (
      width: 8rem
    ),
    prc: (
      width: 8rem
    ),
    growth: (
      width: 6rem
    ),
    dividend: (
      width: 6rem
    ),
    pe: (
      width: 6rem
    ),
    profit: (
      width: 6rem
    ),
    roe: (
      width: 6rem
    ),
    cash: (
      width: 20rem
    ),
    star: (
      width: 1rem
    )
  )
);

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
